<nav class="navbar">
  <div class="navbar-brand" routerLink="/">
    <img
      src="https://img.icons8.com/ios/50/connectdevelop.png"
      alt="Logo"
      class="navbar-logo"
    />
    <a class="navbar-item">Dependency Manager</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button
            *ngIf="isAuthenticated"
            (click)="logout()"
            class="button is-light"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
