<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<div id="searchbar-container">
  <app-searchbar (search)="onSearch($event)"></app-searchbar>
  <button id="button" (click)="deployFormulaire()"><i class='bx bx-plus'></i></button>
</div>
<formulaire-add *ngIf="isAdd"></formulaire-add>
<div class="depot-list">
  <ng-container *ngIf="depots$ | async as depots; else loading">
    <app-depot-preview *ngFor="let depot of depots" [depot]="depot" (click)="onClickDepot(depot)"></app-depot-preview>
  </ng-container>
</div>

<ng-template #loading>
  <p>Loading depots...  </p>
</ng-template>